<div *ngIf="environments.length > 0; else nodata">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Client</th>
        <th>Environment</th>
        <th>Product</th>
        <th>Modified Date</th>
        <th>Remarks</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let environment of environments">
        <td>
          <p>{{environment?.title}}</p>
        </td>
        <td>
          <p>{{environment?.company?.name}}</p>
        </td>
        <td>
          <p>{{environment?.environmentType?.name}}</p>
        </td>
        <td>
          <p>{{environment?.product?.name}}</p>
        </td>
        <td>
          <p>{{environment?.modifiedDate}}</p>
        </td>
        <td>
          <p>{{environment?.remarks}}</p>
        </td>
        <td>
          <a class="btn btn-sm btn-primary" [routerLink]="['/environmentdetail', environment?.environmentId ]">Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #nodata>
  <div class="text-center">
    <img src="../../assets/Loading.gif" />
  </div>
</ng-template>
