  <!-- Jumbotron -->
<div class="jumbotron text-center" id="mainer">

  <!-- Main Image Rocket -->
  <img src="../../assets/release.png" class="rounded-circle" alt="Cinque Terre" width="304" height="236" />

  <!-- Heading -->
  <h1 style="font-size:64px;padding:2%;">
    Release Management Portal
  </h1>

  <!-- Sub Heading -->
  <p style="font-size:32px;margin-bottom:3%;"><i><kbd style="padding:1%;">Reshaping the way we do things!</kbd></i></p>

  <!-- Container -->
  <div class="container pt-3">

    <!-- Login, App Overview, Environment and References Cards in a row -->
    <div class="row">

      <div class="col-sm-3">
        <div id="LoinPanelCard" class="card" style="width:100%;min-height:100%;">
          <div class="w3-container w3-white">
            <img class="card-img-top" src="../../assets/login.png" alt="Card image" style="width:100%;background-color:White;min-height:70px;" />
          </div>
          <div class="card-body">
            <h4 class="card-title" style="font-size:32px;min-height:65px;">
              Login Panel
            </h4>
            <p class="card-text" style="min-height:50px;">View, Add, Edit & Delete Release, Environment, Client</p>
            <a href="/company" class="btn btn-primary stretched-link" style="color:White;min-height:30px;">Login</a>
          </div>
        </div>
      </div>
      <!-- End Login Card -->

      <div class="col-sm-3">
        <div id="AppOverViewCard" class="card" style="width:100%;min-height:100%;">
          <div class="w3-container w3-white">
            <br />
            <img class="card-img-top" src="../../assets/appoverview.png" alt="Card image" style="width:100%;background-color:White;min-height:70px;" />
          </div>
          <div class="card-body">
            <br />
            <h4 class="card-title" style="font-size:32px;min-height:60px;">App Overview</h4>
            <p class="card-text" style="min-height: 40px;">View the latest Application Overview</p>
            <a href="/application" class="btn btn-primary stretched-link" style="color:White;min-height:30px;">View</a>
          </div>
        </div>
      </div>
      <!-- End Application Overview Card -->

      <div class="col-sm-3">
        <div id="EnvironmentOverviewCard" class="card" style="width:100%;min-height:100%;">
          <div class="w3-container w3-white">
            <br />
            <img class="card-img-top" src="../../assets/environment.png" alt="Card image" style="width:100%;background-color:White;min-height:70px;" />
          </div>
          <div class="card-body">
            <h4 class="card-title" style="font-size:32px;min-height:30px;">Environment Overview</h4>
            <p class="card-text">View the latest Environments Overview</p>
            <a href="/environment" class="btn btn-primary stretched-link" style="color:White;min-height:30px;">View</a>
          </div>
        </div>
      </div>
      <!-- End Environment Card -->

      <div class="col-sm-3">
        <div id="ReferencesCard" class="card" style="width:100%;min-height:100%;">
          <div class="w3-container w3-white">
            <br />
            <br />
            <br />
            <img class="card-img-top" src="../../assets/references.png" alt="Card image" style="width:100%;background-color:White;min-height:70px;" />
            <br />
            <br />
          </div>
          <div class="card-body">
            <p></p>
            <p></p>
            <h4 class="card-title" style="font-size:32px;min-height:30px;">References & Docs</h4>
            <p class="card-text">View and Download the authentic References</p>
            <a href="/product" class="btn btn-primary stretched-link" style="color:White;min-height:30px;">View</a>
          </div>
        </div>
      </div>
      <!-- End Reference Card -->

    </div>
    <!-- End Row-->

  </div>
  <!-- End Container -->

</div>
<!-- End Jumbotron -->

