<div class="container-fluid">
  <div class="bg-dark text-white navbar">
    <div class="navbar-brand"><a href="/" title="Goto Home Page" style="text-decoration:none;color:inherit;"><span style="font-family:Tahoma;"><i class="ui-icon-home"></i> Release Management Portal</span></a></div>
    <div class="float-right navbar-text"><userSummary></userSummary></div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-sm-3 bg-light">
    <environment-filter></environment-filter>
  </div>
  <div class="col">
      <environments-list></environments-list>
      <div class="float-right p-1">
        <environment-pagination></environment-pagination>
      </div>
  </div>
</div>

<ng-template #nodata>
  <div class="text-center">
    <h2 style="font-family:Tahoma;color:gray"> There is no environment found. </h2>
  </div>
</ng-template>
