<!--<table class="table table-striped table-hover">
  <thead>
    <tr><th>Name</th><th>Type</th><th>Email</th><th>Landline</th><th>Fax</th><th>Comments</th><th>Details</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{company?.name}}</td>
      <td>{{company?.industry?.name}}</td>
      <td>{{company?.email}}</td>
      <td>{{company?.phone}}</td>
      <td>{{company?.fax}}</td>
      <td>{{company?.comments}}</td>
      <td><button class="btn btn-primary btn-sm">Details</button></td>
    </tr>
  </tbody>
</table>-->

<router-outlet></router-outlet>
<!--<div class="row">
  <div class="row">
    <div class="col">
      <config-company></config-company>
      <company-table></company-table>
    </div>
    <div class="col">
      <company-detail></company-detail>
    </div>
  </div>
</div>-->

